h1 {
    display: block;
    font-family: Helvetica;
    text-align: center;
    font-size: 50px;
    border: solid;
    color: black;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}