<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Market Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="./images/favicon-16x16.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Stock Market Dashboard</h1>
    <div id="plotly-graph" style="height: 500px;"></div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>